.MenuPres {
    background-color: black(1200, 150, 150);
    padding: 2px;
    vertical-align: bottom;
    align-items: left;
    text-align: left;
    font-family: 'Black Ops One', cursive;
    color: black;
    display: inline-block;
    *display: inline;
    }