.round {
    size: large;
    border-color: lightgrey;
    background-color: white;
    color: grey;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius : 100px;
    border-width : 4px;
}