.ant-carousel .slick-slide {
    text-align: center;
    align-content: center;
    min-width: 524px;
    width: 100vw;
    max-height: 500px;
    line-height: 200px;
    background: rgb(209, 183, 183);
    overflow: hidden;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  
.ant-carousel .slick-slide h3 {
    align-content: center;
    text-align: center;
    min-height: 100%;
    width: 100vw;
    min-width: 1024px;
    color: black;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
.t1 {
    background: left url('./Life.png') no-repeat;
    }
    
.t2 {
    background: left url('./Sea.png') no-repeat;
}

.t3 {
    background: left url('./Ground.png') no-repeat;
}

.t4 {
    background: left url('./Sky.png') no-repeat;
}

.t1, .t2, .t3, .t4 {
    background-size:contain;
    background-position: absolute;
    background-size:40vw;
    text-align: center;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    /* border-radius: 5px; */
    /* border-bottom-left-radius: 0px; */
    /* border-top-left-radius: 0px; */
}
/* .Empty { */
    /* min-height: 400px; */
    /* height: 40%; */
    /* } */