.ant-carousel .slick-slide {
    text-align: right;
    align-content: right;
    /* min-width: 524px; */
    width: 100vw;
    max-height: 400px;
    line-height: 200px;
    background: black;
    overflow: hidden;
    border-radius: 5px;
    /* border-bottom-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
  }
  
.ant-carousel .slick-slide h3 .yolo {
    align-content: right;
    text-align: right;
    min-height: 100%;
    width: 100vw;
    color: black;
  }

.t1 {
    background: right url('./Life.png') no-repeat;
}

.t2 {
    background: right url('./Sea.png') no-repeat;
}

.t3 {
    background: right url('./Ground.png') no-repeat;
}

.t4 {
    background: right url('./Sky.png') no-repeat;
}

.t1, .t2, .t3, .t4 {
    background-size:contain;
    background-position: absolute;
    /* padding-bottom: 150px;  */
    right : 0;
    background-size: 100vw;
    text-align: right;
    /* border-bottom-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    /* border-radius: 5px; */
    /* border-bottom-right-radius: 0px; */
    /* border-top-right-radius: 0px; */
}